<div id="<%= dom_id client %>">
  <p>
    <strong>Nombre:</strong>
    <%= client.nombre %>
  </p>

  <p>
    <strong>Persona juridica:</strong>
    <%= client.persona_juridica %>
  </p>

  <p>
    <strong>Nro doc:</strong>
    <%= client.nro_doc %>
  </p>

  <p>
    <strong>Tlf:</strong>
    <%= client.tlf %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= client.company_id %>
  </p>

</div>
