<div id="<%= dom_id company %>">
  <p>
    <strong>Nombre:</strong>
    <%= company.nombre %>
  </p>

  <p>
    <strong>Rif:</strong>
    <%= company.rif %>
  </p>

  <p>
    <strong>Tlf:</strong>
    <%= company.tlf %>
  </p>

  <p>
    <strong>City:</strong>
    <%= company.city_id %>
  </p>

</div>
