<div id="<%= dom_id project %>">
  <p>
    <strong>Codigo:</strong>
    <%= project.codigo %>
  </p>

  <p>
    <strong>Fecha inicio:</strong>
    <%= project.fecha_inicio %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= project.nombre %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= project.valor %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= project.client_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status_id %>
  </p>

</div>
